.navbar-inverse {
  background-color: #563d7c;
  border-color: #463265;
}

.navbar-inverse .navbar-brand {
  color: #fff;
}

/* Main view */
.main-view {
  margin-top: 60px;
}

.friend-list {
  margin: 0;
  padding: 0;
}
.friend-list li {
  padding: 10px;
  border-top: dotted 1px #e5e5e5;
}
